*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}
a{
    display:inline-block;
    text-decoration:none;
    padding:6px 4px;
    border:0px solid #ccc;
    background-color:#f2f2f2;
    color:#333;
    font:15px Roboto arial, sans-serif;
    height: 50px;
    text-align: center;
}
a:hover{
    border-color:#aaa;
}
H1, H2{
    text-align: center;
}

header > h1{
    display:inline-block; padding:50px 0 0; position: relative;
}
main{
    display:inline-block;
    padding-top:80px;
    margin: auto;
    position: relative;
}
nav {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 10px;
    padding: 10px 10% 10px;
    }
.menu{list-style:none; border:1px solid #c0c0c0;}

.menu li{position:relative; float:left; border-right:1px solid #c0c0c0; }

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:inline-block;}

.menu li a:hover{background:#333; color:#fff; -moz-box-shadow:0 3px 10px 0 #CCC; -webkit-box-shadow:0 3px 10px 0 #ccc; text-shadow:0px 0px 5px #fff; }

.menu li   ul{position:absolute; top:25px; left:0; background-color:#fff; display:none; }

.menu li:hover ul, .menu li.over ul{display:inline-block;}

.menu li ul li{border:1px solid #c0c0c0; display:inline-block; width:150px;}

.artigo{
    background-color: gray;
    padding: 10px;
}