*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    align-content: center;
    width: 60%;
    margin: auto;
    
}



button {
    width: 300px;
    height:150px;
    margin:5px auto;
    border-radius: 20px;
    border-style: none;
    position: sticky;
    font-size: 4em;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
button:hover{
    background-color: rgb(83, 83, 81);
}
button a:hover{
    color: white;
     
}
a{
    text-decoration:none;
    color: rgb(110, 179, 240);
}
